.idea/
.DS_Store
/node_modules
package-lock.json
package.json
/day_43/extract_multiple_subzips_with_pwd/__pycache__
day_43/.DS_Store
/day_46/singly_linked_list/__pycache__
/day_68/plants_vs_zombies/__pycache__